* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

nav {
    display: flex;
    background-color: #080B0C;
    justify-content: space-between;
    align-items: center;
    font-weight: 800;
    padding: 1em 5em;
    color: #F3F7F4;
    letter-spacing: .1em;
}

nav ul {
    display: flex;
}

li {
    list-style: none;
    border-bottom: 2px solid #080B0C;
}

nav li:hover {
    border-bottom: 2px solid #F3F7F4;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 0 1em;
}

.brand {
    font-size: 1.5em;
}

body {
    background: #F3F7F4;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 7em;
    font-weight: 800;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 5em;
    color: #182425;
    letter-spacing: .1em;
}

form {
    display: flex;
    flex-flow: column nowrap;
    width: 30%;
    align-content: stretch;
    margin: 2em 0em;
}

p, button {
    margin: .3em;
    padding: .5em;
    font-size: 1.2em;
    font-weight: 300;
}

button {
    background: #182425;
    color: #F3F7F4;
    border-style: none;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: 800;
}

p {
    display: flex;
    justify-content: space-between;
}

input {
    background: transparent;
    border: 0;
    width: 60%;
    border-bottom: 2px solid #30474A;
}